extends layout
block content
    body
        .container.shadow.p-3.mb-5.bg-white.rounded.border.border-secondary
            .alert.alert-warning(role='alert')
                h2.mx-auto(style='width: 450px;') Angiographic disease status
            .alert.alert-dark(role='alert')= data